<div ng-include src="'app/views/menu.html'"></div>
<div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 boxContainerForDiv">
            <p class="text-center" style="font-size:30px; font-weight:bold"><font color="#00bc55"><a class="fa fa-lock"></a> Cambiar Contraseña</font></p>
            <div class="form-group">
                <label class="control-label" for="focusedInput">Contraseña actual</label>
                <input class="form-control" ng-model="updatedata.password_old" type="password">
            </div>
            <div class="form-group">
                <label class="control-label" for="focusedInput">Contraseña Nueva</label>
                <input class="form-control" ng-model="updatedata.password_new_one" type="password">
            </div>
            <div class="form-group">
                <label class="control-label" for="focusedInput">Confirme la contraseña nueva</label>
                <input class="form-control" ng-model="updatedata.password_new_two" type="password">
            </div>
            <div class="alert alert-info" ng-show="loading">Espera, Arnoldo esta cambiando tu contraseña...</div>
            <div class="form-group">
                <button class="btn btn-block btn-info" ng-click="updatePassword()" id="uppass">Actualizar</button>
            </div>

            <div class="clearfix"></div>
            <div id="message"></div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
<div ng-include src="'app/views/foter.html'"></div>