
<div class="col-lg-12">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
        <div class="panel panel-success">
            <div class="panel-heading"><h3 class="text-center"><img src="../../images/favicon/android-icon-48x48.png" /> <strong> Recupera tu contraseña</strong></h3></div>
            <div class="panel-body">
                <form class="form-group">
                    <div class="form-group">
                        <label class="control-label" for="focusedInput">Ingresa tu Correo electronico</label>
                        <input class="form-control" type="text" placeholder="cancha@dominio.com" ng-model="loginData.userName" required autofocus">
                    </div>
                    <div class="alert alert-info" ng-show="loading">Estamos cambiando tu password...</div>
                    <div class="text-center">
                        <a id="loginbtn" class="btn btn-md btn-success btn-block submit" ng-click="forgotpassword()"><H4><strong> Enviar correo</strong></H4></a>
                        <a href="#/login.html" class="btn btn-md btn-success btn-block submit" id="back"><h4><strong>Regresar</strong></h4></a>
                    </div>
                    <br />
                    <label><a href="#/login">Volver</a></label>
                    <div class="clearfix"></div>
                    <div ng-hide="message == ''" class="alert alert-warning">
                        {{message}}
                    </div>
                    <div ng-hide="messageOk == ''" class="alert alert-info">
                        {{messageOk}}
                    </div>
                </form>
            </div>
        </div>
        <a href="#" class="fiiveCopy2">Fiive</a>
    </div>
    <div class="col-lg-3">
    </div>
</div>